[submodule "deps/giputils"]
	path = deps/giputils
	url = https://github.com/gipsyh/giputils.git
[submodule "deps/cadical"]
	path = deps/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "deps/kissat"]
	path = deps/kissat
	url = https://github.com/arminbiere/kissat.git
[submodule "deps/logicrs"]
	path = deps/logicrs
	url = https://github.com/gipsyh/logicrs
[submodule "deps/bitwuzla"]
	path = deps/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
