[submodule "deps/cadical"]
	path = deps/cadical
	url = https://github.com/arminbiere/cadical.git
[submodule "deps/kissat"]
	path = deps/kissat
	url = https://github.com/arminbiere/kissat.git
[submodule "deps/bitwuzla"]
	path = deps/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
[submodule "deps/symfpu"]
	path = deps/symfpu
	url = https://github.com/martin-cs/symfpu
